header.spooktober {
    background: linear-gradient(60deg, black, orange, black, orange, black);
    display: none;
}

main.spooktober {
    background-image: none;
    background-repeat: repeat;
    background-position: center;
    background-size: 4rem;
}

@media screen and (min-height: 900px) {
    main.spooktober {
        padding: 20vh 0;
    }
}

.poster {
    height: 80vh;
}

div.himbat {
    font-family: twilight, serif;
    font-weight: bold;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);

}

div.himbat a {
    color: #a21000;
    font-size: 1.25rem;
}

div.himbat img {
    height: 5rem;
    display: inline-block;
}

div.himbat div {
    display: inline-block;
}