header.spooktober {
    background: linear-gradient(60deg, black, orange, black, orange, black);
    display: none;
}

main.spooktober {
    background-image: none;
    padding: 20vh 0;
}

div.himbat {
    display: block;
}

div.himbat img {
    height: 5rem;
    display: inline-block;
}

div.himbat div {
    display: inline-block;
}