header {
    background: black none;
    display: none;
}

main {
    background-image: url("/assets/art-attack-iv/snow.gif");
    background-repeat: repeat;
    background-position: center;
}

main#teaser {
    height: 100vh;
}

main .innerwrap h2 {
}

div.himbat a {
    color: #a21000;
    font-size: 1.25rem;
}

footer ul {
    margin: 0;
}

main#teaser .innerwrap img {
    max-height: 30vh;
    max-width: 40vw;
}

.lightning-wrap img {
    max-height: 10vh;
}

footer div {
    padding: 1rem;
}

h2#aa-title a {
    font-family: doto, serif;
    color: #e801ea;
    font-size: 3rem;
}

@media screen and (min-width:480px) {

}

#submission-link {
    display: inline-flex;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(
            90deg,
            hsl(300, 100%, 40%),
            hsl(120, 100%, 40%)
    );
}