@font-face {
    font-family: 'CustomComicSans';
    src: url('../assets/custom-comic-sans-reg.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'CustomComicSans', "Comic Sans MS", serif;
}

a {
    color: white;
}

ul {
    padding: 0;
}

li::marker {
    content: '';
}

img#promo-poster {
    height: 80vh;
}

footer {
    margin-top: 2vw;
    border-top: solid gray 1px;
}

a#submission-link {
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    /*background: linear-gradient(45deg, blue, green, yellow, orange, red);*/
    background-image: linear-gradient(
        90deg,
        hsl(0, 100%, 40%),
        hsl(30, 100%, 40%),
        hsl(60, 100%, 40%),
        hsl(90, 100%, 40%),
        hsl(120, 100%, 40%),
        hsl(150, 100%, 40%),
        hsl(180, 100%, 40%),
        hsl(210, 100%, 40%),
        hsl(240, 100%, 40%),
        hsl(270, 100%, 40%),
        hsl(300, 100%, 40%),
        hsl(330, 100%, 40%),
        hsl(360, 100%, 40%)
    );
    opacity: 100%;
}

a#submission-link:hover {
    background-image: linear-gradient(
        90deg,
        hsl(0, 100%, 20%),
        hsl(30, 100%, 20%),
        hsl(60, 100%, 20%),
        hsl(90, 100%, 20%),
        hsl(120, 100%, 20%),
        hsl(150, 100%, 20%),
        hsl(180, 100%, 20%),
        hsl(210, 100%, 20%),
        hsl(240, 100%, 20%),
        hsl(270, 100%, 20%),
        hsl(300, 100%, 20%),
        hsl(330, 100%, 20%),
        hsl(360, 100%, 20%)
    );
}