@font-face {
    font-family: 'CustomComicSans';
    src: url('../assets/custom-comic-sans-reg.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'CustomComicSans', "Comic Sans MS", serif;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

img#promo-poster {
    height: 80vh;
}

footer {
    margin-top: 2vw;
    border-top: solid gray 1px;
}