@font-face {
    font-family: 'CustomComicSans';
    src: url('../assets/custom-comic-sans-reg.ttf') format('truetype');
}

@font-face {
    font-family: 'twilight';
    src: url('/assets/fonts/twilight.ttf') format('truetype');
}

@font-face {
    font-family: 'doto';
    src: url('/assets/fonts/Doto_Rounded-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cyber-brush';
    src: url('/assets/fonts/Cyber_Brush.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'CustomComicSans', "Comic Sans MS", serif;
    margin: 0;
}

a {
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li::marker {
    content: '';
}

img#promo-poster {
    height: 80vh;
}

footer {
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-top: solid gray 1px;
}

main {
    padding: 3rem 0;
}

main .innerwrap {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

header {
    background: linear-gradient(-60deg, magenta, cyan, magenta, cyan, magenta, cyan);
}

header h1 {
    display: inline-block;
}

header img {
    max-width: 80vw;
}

#submission-link {
    display: inline-flex;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(
        90deg,
        hsl(0, 100%, 40%),
        hsl(30, 100%, 40%),
        hsl(60, 100%, 40%),
        hsl(90, 100%, 40%),
        hsl(120, 100%, 40%),
        hsl(150, 100%, 40%),
        hsl(180, 100%, 40%),
        hsl(210, 100%, 40%),
        hsl(240, 100%, 40%),
        hsl(270, 100%, 40%),
        hsl(300, 100%, 40%),
        hsl(330, 100%, 40%),
        hsl(360, 100%, 40%)
    );
}

#submission-link span {
    background: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

#submission-link span:hover {
    background: rgba(0, 0, 0, 0.3);
}

#submission-link a {
    display: inline-flex;
    padding: 15px;
}

.logo-absolute {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 5rem;
    height: 5rem;
}

.logo-absolute img {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

.qr-winners img {
    max-width: 50%;
}

img.qr {
   max-width: 10rem;
}

img {
    max-width: 100%;
}

.img-flip {
    transform: scaleX(-1);
}